/* Temp landing Page CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    position: absolute; /* navbar stays at the top & doesn't affect the flow of the page */
    width: 100%; /* Ensure the navbar will spans the entire page */
    top: 0; /* Keeps the navbar at the top */
}

.nav-title {
    color: rgb(247, 110, 110);
    font-size: 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sign-in-btn {
    background-color: rgba(255, 255, 255, 0.541); /* transparent-ish background */
    /* border: 2px solid rgba(255, 255, 255, 0.8);  (border or no?) */
    padding: 8px 20px;
    color: white; /* Text remains fully opaque */
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sign-in-btn:hover {
    background-color: rgba(255, 186, 83, 0.6); /* hover color*/
}

/* Main Content CSS */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(165deg, rgb(147, 77, 171), #f57f7f, orange 60%, white 60%); /* Diagonal gradient */
    height: calc(100vh - 60px); /* is adjusted based on header */
}

.left-content {
    max-width: 50%;
}

h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #3f3f3f;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #ffba53;
    border-radius: 4px;
    overflow: hidden;
    max-width: 400px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button {
    background-color: #ffba53;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.description {
    color: #323232
}

/* Right Side */
.card-image {
    max-width: 350px;
    border-radius: 10px;
}

/* ...more to come for other pages */

