.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 260px;
	margin: 0 auto;
	position: relative;
	transition: all 0.2s ease-in-out;
}

/* .cardContainer:hover {
	transform: translateY(-2px);
} */

.bulkCard {
	/* background-color: #f3e8ff;
	padding: 1rem;
	margin: -1rem; */
	border: 2px solid #f3e8ff;
	border-radius: 1rem;
}

.cardImage {
	width: 260px;
	height: 360px;
	border-radius: 1rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
	background-color: white;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	position: relative;
	z-index: 2;
}

.cardImage:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 255, 255, 0.2);
	z-index: 10;
	cursor: pointer;
}

.cardInfo {
	margin-top: 1rem;
	padding: 0.5rem 0.75rem;
	background-color: #f3e8ff;
	border-radius: 0.5rem;
	width: 100%;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	z-index: 2;
}

.gradeText {
	color: #581c87;
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.priceText {
	color: #42275b;
	font-weight: 600;
	margin-bottom: 0.25rem;
}

.gradeIcon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background-color: #6b21a8;
	color: white;
	font-size: 0.875rem;
	padding: 0.8rem;
	font-weight: bold;
	margin-left: 0.25rem;
}

.selectedCard {
	box-shadow: 0 0 0 2px #6b21a8;
}

.ineligibleCard {
	opacity: 0.5;
}
